.App {
  background-color: #0D1119;
  width: 410px;

  /* TODO Ideally to have 630px, but height of 600px is the limit
   */
  min-height: 600px;

  /* TODO Google Chrome Extension have limitation on styling of look and feel of the extension viewport.
      Probably some hack can be applied later in order to style round border corners.
      */
  /*border-radius: 10px;*/

}
