@font-face {
    font-family: 'Bai Jamjuree';
    font-weight: 300;
    src: url('./fonts/BaiJamjuree-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Bai Jamjuree';
    font-weight: 400;
    src: url('./fonts/BaiJamjuree-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Bai Jamjuree';
    font-weight: 500;
    src: url('./fonts/BaiJamjuree-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Bai Jamjuree';
    font-weight: 700;
    src: url('./fonts/BaiJamjuree-Bold.ttf') format('truetype');
}
